body {
    background-color: #2F5B69;
}

.subheader {
    text-align:center;
    margin-top:10px;
    margin-bottom: 20px;
    font-size: 20px;
}

#contacting {
    background-color: black;
    color:white;
    display:inline-block;
    padding:10px;
    font-family: staatliches,sans-serif;
    border: 0.5px solid white;
}
#contacting:hover {
  cursor: default;
}
.column-form {
    box-sizing: border-box;
    width:50%;
    padding:20px 20px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 80px;
    background-color: white;
    border-radius: 10px;
}
.column-form .button {
  margin-bottom: 20px;
  padding: 10px;
  background-color: black;
  color:white;
  font-size:15px;
  font-weight: bold;
}

  
  /* Style inputs */
  input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
    text-transform: capitalize;
  }
  #elecmail {
    text-transform: lowercase;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color:black;
    transition: color 0.4s linear;
  }
  input[type=submit] {
      float:right;
      margin-right:10px;
      transition: color 0.4s linear;

  }
  
  /* Style the container/contact section */
  p {
      color:white;
      margin-left: 10%;
      margin-right: 35%;
      font-family: 'Montserrat', sans-serif;
      word-spacing: 1px;
      line-height: 25px;
      font-size: 15px;
      text-align: left;
  }
  h2 {
      color:white;
      font-family: montserrat;
      font-size:25px;
  }
  #skills-head {
    margin-left: 10%;
    margin-right: 35%;
  }
  .skills-container {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    margin-top: 10px;
  }
  .skills-column {
      width:15%;
      color:white;
      display: block;
      margin-left:10%;
      margin-top:20px;
  }
  .skills-container li {
    display: list-item;
    text-align: -webkit-match-parent;
    margin-left: 10%;
    margin-right: 35%;
  }
  
  /* Create two columns that float next to eachother */
  
#fname1, #lname1,#mail, #country1, #subject1 {
    font-size:17px;
    font-weight: bolder;
    color:black;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #unique {
      border:1px solid black;
      border-radius:5px;
      background-color: black;
      color:white;
  }
  
  #h1 {
      margin-left:18px;
  }
  
  
   


body,html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: rgb(0, 0, 0);
}
ul { 
  margin: 70px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  margin-top:20px;
}
.courses {
  margin: 70px auto 0; 
  padding: 0; 
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  margin-top:20px;
}


li { 
  display: table-cell; 
  position: relative; 
  padding: 15px 0;
}
 a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}




@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}

@media only screen and (min-width: 414px) 
and (orientation: portrait) {
  .courses {
  margin-left: auto;
  margin-right: auto;
  width:50%;

  }
  ul {
    margin-left: auto;
  margin-right: auto;
  width:50%;
  }
}


