
.head {  
  margin-top: -100px;
  margin-bottom: -100px;
  text-align: center;
}
.head img {
  margin-left: auto;
  margin-right: auto;
  width:30%;
  
}



#contacting {
    background-color: black;
    color:white;
    display:inline-block;
    padding:10px;
    font-family: staatliches,sans-serif;
    border: 0.5px solid white;
}
.creator {
    text-align: right;
    margin-right: 10px;
    font-size: 10px;
    color:white;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}
.creator-index {
  float:right;
  margin-top: 250px;
  color:white;
  font-size:10px;
}


.column-form {
    box-sizing: border-box;
    width:50%;
    padding:20px 20px;
    margin-left:auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    background-color: white;
    border-radius: 10px;
}
.column-form .button {
  margin-bottom: 20px;
  padding: 10px;
  background-color: black;
  color:white;
  font-size:15px;
  font-weight: bold;
}

  
  /* Style inputs */
  input[type=text], select, textarea, input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    border-radius: 10px;
    text-transform: capitalize;
  }
  #elecmail {
    text-transform: lowercase;
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  input[type=submit]:hover {
    background-color: white;
    color:black;
    transition: color 0.4s linear;
  }
  input[type=submit] {
      float:right;
      margin-right:10px;
      transition: color 0.4s linear;

  }
  
  /* Style the container/contact section */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }
  
  /* Create two columns that float next to eachother */
  
#fname1, #lname1,#mail, #country1, #subject1 {
    font-size:17px;
    font-weight: bolder;
    color:black;
    font: bold 14px/1.4 'Open Sans', arial, sans-serif;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #unique {
      border:1px solid black;
      border-radius:5px;
      background-color: black;
      color:white;
  }
  #simple-paragraph{
      margin:10px 10px;
      padding:10px;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size:15px;
      font-weight: 200;
      text-align:left;
      margin-top:800px;
      border: 1px solid black;
      background-color: ghostwhite;
  }
  #h1 {
      margin-left:18px;
  }
  
  #header-pararaph {
      text-align:center;
  }
  
  
    #post-title {
        color:black;
        padding:10px;
        opacity: 80%;
        text-align: center;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
    }
    .post {
        border-radius:10px;
        background-color:white;
        color:black;
        word-spacing:3px;
        line-height: 20px;
        display: flexbox;
    }
      
    .post img {
      margin:10px;
      width:40%;
      padding:10px;
      float:left;
    }
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column, input[type=submit] {
      width: 100%;
      margin-top: 0;
    }
  }

  /*Responsive Design for big screens*/
  

/*iPhone 11 Resolution*/
@media only screen and (min-width: 414px) 
and (orientation: portrait) 
{
  .head img {
    margin-top: 100px;
  }
  ul li {
    display: flex;
    text-align: center;
    margin-right:auto ;
    margin-top: 100px ;
    width:40%;
    height:2px;
  }
  #myImg, #myImg1, #myImg2, #myImg3 {
    display:flex;
    margin-right:auto;
    margin-left: auto;
  }
  #footer p{
    display: inline-flexbox;
    margin-right:30px ;
    margin-left: 40px;
    width:40%;
    height:2px;
    font-size: 20px;  
  }
  .modal {
    width:50%;
    display: none;
    margin-left: 48%;
    margin-right: 48%;
  }
}
/*iPad 10.2(2019)*/
@media only screen and (min-width: 810px) 
and (orientation: portrait) 
{
  .head img {
    margin-top: 100px;
  }
  ul li {
    display: flex;
    text-align: center;
    margin-right:auto ;
    margin-top: 100px ;
    width:40%;
    height:2px;
  }
  #myImg, #myImg1, #myImg2, #myImg3 {
    display:flex;
    margin-right:auto;
    margin-left: auto;
  }
  #footer p{
    display: inline-flexbox;
    margin-right:30px ;
    margin-left: 40px;
    width:40%;
    height:2px;
    font-size: 20px;  
  }
}


.column #image-profile {
  width:30%;
  float: right;
}
.header-name {
  font-family: Monaco;
  color:black;
}
p {
  text-align: center;
  color:white;
  word-spacing: 1px;
  line-height: 35px;
  font-size:20px;
  padding: 10px;
  margin:100px 140px 100px 140px;
  font-family: 'Rajdhani', sans-serif;
}


body,html {
  margin: 0;
  font: bold 14px/1.4 'Open Sans', arial, sans-serif;
  background: #000;
}
ul { 
  margin: auto auto 100px auto;  
  list-style: none; 
  display: table;
  width: 600px;
  text-align: center;
  margin-top: 0;
  padding:5px;
}
li { 
  display: table-cell; 
  position: relative; 
  margin:0 auto;
  width:50%;
  /*padding:10px;*/ /*Testing on centering the main top list-nav*/
}
a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
#a-message {
  text-decoration: none;
  text-transform: none;
  font-size: 20px;
  padding: 0;
}

a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after { 
  width: 100%; 
  left: 0; 
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
  }
  
}
/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
  #footer { width:67%; }
  #footer { width:30%; margin-left:3%;}  
}



#footer p{
  border-radius: 0%;
  border: none;
  font-weight: lighter;
  font-size: 15px;
  padding:0;
  text-align: center;
}
#footer h5 {
  color:white;
  text-align: center;
  margin: -20px 20px;
  padding: 0;
}
 #footer {
  padding: 2px;
  display: flex;
  margin: 100px 100px ;
  position: absolute;
  align-items: center;
  justify-content: center;
	 
	 
    
}


















































/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 40px;
  margin-right: 10px;
}
#myImg1 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 40px;
  margin-right: 10px;
}
#myImg2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 40px;
  margin-right: 10px;
}
#myImg3 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 40px;
  margin-right: 10px;
}

#myImg:hover, #myImg1:hover, #myImg2:hover, #myImg3:hover {
  transform: scale(1.1);
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}





































@media screen and (min-width: 1400px) {
  .modal {
    width: 1370px;
  }
}
@media screen and (min-width: 1600px) {
  .modal {
    width: 1570px;
  }
}
@media screen and (min-width: 1900px) {
  .modal {
    width: 1870px;
  }
}